h1 {
    color: aqua;
}

h1 {
    color: blueviolet;
    font-family: cursive;
    font-size: 49px;
}

h1 {
    color: salmon;
}

#class {
    color: #a91313;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}